<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ducaun.dal.Properties.Settings.ducaunConnectionString"
            connectionString="Data Source=sergio\sqlexpress;Initial Catalog=ducaun;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>