<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication3.Properties.Settings.Ducaun"
            connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=ducaun;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApplication3.Properties.Settings.MMARIOConnectionString"
            connectionString="Data Source=SERGIO\sqlexpress;Initial Catalog=MMARIO;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApplication3.Properties.Settings.ducaunConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=c:\temp\ducaun.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApplication3.Properties.Settings.ducaunConnectionString1"
            connectionString="Data Source=sergio\sqlexpress;Initial Catalog=ducaun;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
</configuration>